{% extends 'base.html.twig' %}

{% block title_suffix %}Profil de {{ user.login }}{% endblock %}

{% block page_content %}

    <h2>{{ user.login }}</h2>
    <ul>
        <li> Adresse email: {{ user.email }}</li>
        <li>Numéro de téléphone: {{ user.numeroTelephone }}</li>
        <li>Pays: {{ user.pays }}</li>
    </ul>

{% endblock %}