{% extends 'base.html.twig' %}

{% block title_suffix %}
    {% if isSelfProfile %}
        Mon profil
    {% else %}
        Profil de {{ user.login }}
    {% endif %}
{% endblock %}

{% block page_content %}

    <h2>{{ user.login }}</h2>
    <ul>
        <li>Pays: {{ user.pays }}</li>
        <li>Numéro de téléphone: {{ user.numeroTelephone }}</li>
        <li>Adresse email: {{ user.email }}</li>
        <li>enzo push stp ça se fait en 5 minutes de print les infos</li>
    </ul>

    {% if isSelfProfile %}
        <a href="{{ path('edition') }}">Modifier mon profil</a>
    {% endif %}

{% endblock %}