{% extends 'base.html.twig' %}

{% block title_suffix %}
    {% if isSelfProfile %}
        Mon profil
    {% else %}
        Profil de {{ user.login }}
    {% endif %}
{% endblock %}

{% block page_content %}

    <h2>{{ user.login }}</h2>
    <ul>
        <li>Adresse mail : {{ user.email }}</li>
        <li>Numéro de téléphone : {{ user.numeroTelephone }}</li>
        <li>Pays : {{ user.pays }}</li>
        <li>Dernière connexion : {{ user.dateConnexion | date('d/m/y') }}</li>
        <li>Dernière édition : {{ user.dateEdition | date('d/m/y') }}</li>
    </ul>

    {% if isSelfProfile %}
        <a href="{{ path('edition') }}">Modifier mon profil</a>
    {% endif %}

    {% if isSelfProfile or (is_granted('ROLE_ADMIN') and not user.hasRole('ROLE_ADMIN')) %}
        <button id="delete-button" class="btn btn-danger" onclick="handleDeletePopup()">Supprimer ce profil</button>
        <form id="delete-form" action="{{ path('suppression') }}" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('delete-account') }}">
        </form>
        <div id="confirmation-modal" style="display:none;" class="modal">
            <div class="modal-content">
                <span id="close-modal" class="close-button">&times;</span>
                <p>Êtes-vous sûr de vouloir supprimer ce profil ?</p>
                <button id="confirm-delete" class="btn btn-danger">Oui</button>
                <button id="cancel-delete" class="btn btn-secondary">Non</button>
            </div>
        </div>
    {% endif %}

{% endblock %}