{% extends 'base.html.twig' %}

{% block title %}PLACEHOLDER TITLE{% endblock %}

{% block page_content %}

    <h2>{{ user.login }}</h2>
    <ul>
        <li>Adresse mail : {{ user.email }}</li>
        <li>Numéro de téléphone : {{ user.numeroTelephone }}</li>
        <li>Pays : {{ user.pays }}</li>
        <li>Dernière connexion : {{ user.dateConnexion | date('d/m/y') }}</li>
        <li>Dernière édition : {{ user.dateEdition | date('d/m/y') }}</li>
    </ul>

{% endblock %}