<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Annuaire - {% block title_suffix %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset("styles/app.css") }}">
</head>
<!--
testez les couleurs je recommande. au dessus c'est herbizrre et pas herbizarre parce que avec le a ça faisait du rose
<body bgcolor="herbizrre">
<body bgcolor="squirtle">
<body bgcolor="chucknorris">
<body bgcolor="crap">
-->
<header>
    <div class="center">
        <nav>
            <a href="{{ path("liste") }}">Accueil</a>
            {% if is_granted("ROLE_USER") %}
                <form method="post" action="{{ path("_logout_main") }}">
                    <button id="btn-deconnexion">Se déconnecter</button>
                </form>
            {% else %}
                <a href="{{ path("creation") }}">Créer son profil</a>
                <a href="{{ path("connexion") }}">Se connecter</a>
            {% endif %}
        </nav>
    </div>
</header>
<div id="flashes-container">
    {% for success in app.flashes("success") %}
        <span class="flashes flashes-success">{{ success }}</span>
    {% endfor %}
    {% for error in app.flashes("error") %}
        <span class="flashes flashes-error">{{ error }}</span>
    {% endfor %}
</div>
{% block page_content %}
{% endblock %}
<footer>
    FOOTER
</footer>
</body>
</html>